<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="4.4.0" targetFramework="net472" />
  <package id="Dynamitey" version="2.0.10.189" targetFramework="net472" />
  <package id="ExtendedWPFConverters" version="2.0.4" targetFramework="net472" />
  <package id="ExtendedWPFVisualTreeHelper" version="2.0.3" targetFramework="net472" />
  <package id="Guna.UI2.WinForms" version="2.0.4.7" targetFramework="net472" />
  <package id="Krypton.Toolkit" version="95.25.4.111" targetFramework="net472" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net472" />
  <package id="MaterialDesignColors" version="2.0.6" targetFramework="net472" />
  <package id="MaterialDesignInXamlToolkitAddOns" version="0.0.63" targetFramework="net472" />
  <package id="MaterialDesignThemes" version="4.5.0" targetFramework="net472" />
  <package id="MaterialSkin" version="0.2.1" targetFramework="net472" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net472" />
  <package id="Syncfusion.Compression.Base" version="29.2.5" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="29.2.5" targetFramework="net472" />
  <package id="Syncfusion.Pdf.WinForms" version="29.2.5" targetFramework="net472" />
  <package id="System.Drawing.Common" version="9.0.0" targetFramework="net472" />
</packages>